@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext");
html,
body {
  font-family: "Open Sans", sans-serif;
  display: flex;
}

.slider {
  width: auto;
  height: 280px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.slider .row {
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

.slider-img {
  height: 130px;
  width: auto;
  margin: 2.5px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  left: 0px;
  transition: all 300ms ease-in-out;
  box-sizing: border-box;
}

.slider-control {
  position: absolute;
  bottom: 0;
  right: 0;
}

.slider-control-next, .slider-control-prev {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px;
  margin: 5px 0;
}

.slider-control-next:hover, .slider-control-prev:hover {
  border: 3px solid #01348e;
}

.row {
  overflow: hidden;
}

#row2 {
  display: inline-block;
}

.content {
  margin: 25px;
  width: 500px;
}

.content h1 {
  color: #01348e;
}

.content p {
  line-height: 1.8;
  color: #4b4b4b;
}
